.profileContainer {
    background-color: white;
    border: 2px solid #FF008A;
    p {
        font-family: 'futura-pt', sans-serif;
        font-style: normal;
        font-weight: 300;
        src: url('https://fonts.adobe.com/fonts/futura-pt#details-section');
    }
}

.circleImage {
    border-radius: 50%;  /* if image is square */
    border: 1.5px solid #A9B8C0; 
    float: left;
    margin-left: 20px;
    /* display: inline; */
    
}





/* p { */
  /* font-family: "Times New Roman", Times, serif;  /*futura */
  /* min-height: 1.5vh;
  display: flex;
  font-size: 15px;
} */ 
/* #11D1FE aqua blue */
/* #FF008A hot pink */
/* #41EBFE ligbt aqua */
/* #FE99DF light pink */
/* #A9B8C0 light gray */
/* #02527D dark blue*/